html {
    height: 100%;
}

body {
    height: 100%;

}

form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    flex-direction: column;
}

.container {
    background-color: #466d3a;
    width: 800px;
    padding: 10px;
    border-radius: 8px;
}

.container .nome {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    margin-left: 5px;
    border-radius: 8px;
    padding: 5px;
    border: none;
}

select {
    margin-left: 5px;
    border-radius: 8px;
    padding: 5px;
}

.container .info .type-marmita {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .qtd-marmitas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-top: 10px;
    padding: 10px;
}

.btn:hover {
    background-color: #4c7e3d;
    cursor: pointer;
    color: white;
}

table {
    width: 90%;
    max-width: 800px;
    padding: 10px;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border: solid 1px #000;
    padding: 8px;
    text-align: left;
    text-align: center;
    justify-content: center;
}

th {
    background-color: #4c7e3d;
}


.btns {
    display: flex;
}

.btns button {
    display: flex;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #000;
    margin-left: 5px;
}

.btns button:hover {
    background-color: #4c7e3d;
    cursor: pointer;
    color: #fff;
}